{% extends "settings_base.html" %}
{% load i18n staticfiles %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="settings_header">
        <h3 class="settings_title">تنظیمات عمومی</h3>
        <p class="settings_description"></p>
    </div>

    {% block form_data %}
        <div class="form-box">

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">{% trans 'Save changes' %}</button>
            </form>
        </div>

    {% endblock %}

{% endblock %}

